
<div class="row">
  <div class="col-md-12">
    <mat-card class="first-wrap line-height mat-card-sd">
      <div class="col-md-12"><span class="header-text-style">Event Information</span></div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <hr class="hr-color">
      </div>
      <div class="col-md-4">
        <ul class="pad-lft-zero">
          <li><b>Speaker Program ID</b>: 2861</li>
          <li><b>Speaker</b>: Jack Aaron</li>
        </ul>
      </div>
    
      <div class="col-md-4">
        <ul class="pad-lft-zero">
          <li><b>Start Date</b>: 02/20/2019</li>
          <li><b>Product</b>: Patient Support Program Speaker Program</li>
        </ul>
      </div>
    
      <div class="col-md-4">
        <ul class="pad-lft-zero">
          <li><b>Program Type</b>: Live</li>
          <li><b>Territory</b>: KAM-New Hampshire</li>
        </ul>
      </div>

      <div class="col-md-12">
        <hr class="hr-color">
      </div>

      <div class="col-md-4">
        <ul class="pad-lft-zero">
          <li><b>Date Submitted</b>: 02/10/2019</li>
          <li><b>Speaker Confirmed</b>: 02/10/2019</li>
        </ul>
      </div>
    
      <div class="col-md-4">
        <ul class="pad-lft-zero">
          <li><b>Date Approved</b>: 02/10/2019</li>
          <li><b>SRF/Expenses Submitted</b>: N/A</li>
        </ul>
      </div>
    
      <div class="col-md-4">
        <ul class="pad-lft-zero">
          <li><b>Venue Confirmed</b>: 02/10/2019</li>
        </ul>
      </div>

      <div class="col-md-12">
        <hr class="hr-color">
      </div>

      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="rec-speaker-program-btns">
          <div class="col-md-12">
              <!-- <button mat-button class="fnt-weigth">Reset</button> -->
              <button mat-button class="primary-custom">Speaker Program Reconci</button>
              <button mat-button class="primary-custom">Upload</button>
              <button mat-button class="primary-custom">Upload</button>
          </div>
      </div>
      </div>
      

    </mat-card>
  </div>  
</div>


