
<div class="clearfix"></div>
<div class="col-md-12 custom-top-class">
  <div class="col-md-3">
  </div>
<div class="custom-row">
  <div class="col-md-6 logo-header">
          <img src="assets/img/logo-2.png" class="">
  </div>
</div>
  <div class="col-md-3">
  </div> 
  <div class="clearfix"></div>

  <div class="col-md-3">
    </div>
  <div class="col-md-6 reset-password-parent">
      <!-- <img src="/assets/icons/popup-close.png" class="close-position"> -->
    
      <div>
      <div class="daliog-master-heading">Reset Password</div>
      <hr>
      <div class="col-md-12 nopadding">
         <div class="col-md-12 file-info">
          <div class="form-group">
              <label>Password</label>
              <mat-form-field>
                  <input matInput placeholder="" value="">
              </mat-form-field>
            </div>
         </div>
         <div class="col-md-12 file-info">
          <div class="form-group">
              <label>Confirm Password</label>
              <mat-form-field>
                  <input matInput placeholder="" value="">
              </mat-form-field>
            </div>
         </div>
         <div class="col-md-12 file-info mr-b-0">
         
         </div> 
         <div class="col-md-12 text-center nopadding">
              <button mat-button [mat-dialog-close]="" class="btn btn-blue">Reset Password</button>
         </div> 
      </div>
  </div>
     
  </div>
  <div class="col-md-3">
    </div>
</div>
