<div class="col-md-12 assign-content-wrapper">
  <mat-card>
    <div class="col-md-12">
      <div class="master-heading"> Assign Content</div>
      <div class="clearfix"></div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Resource Type</label>
            <mat-form-field floatLabel="never">
              <mat-select placeholder="Select Type">
                <mat-option value="Type1">Select Resource</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Program Topic</label>
            <mat-form-field floatLabel="never">
              <mat-select placeholder="Select Type">
                <mat-option value="Type1">Select Topic</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Speaker</label>
            <mat-form-field floatLabel="never">
              <mat-select placeholder="Select Type">
                <mat-option value="Type1">Select Speaker</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="mat-check-wrap">
          
          <div class="col-md-12">
            
            <label>Access Roll</label>
            <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-3">
              <mat-checkbox>Admin</mat-checkbox>
            </div>
            <div class="col-md-3">
              <mat-checkbox>Brand Manager</mat-checkbox>
            </div>
            <div class="col-md-3">
              <mat-checkbox>National Manager</mat-checkbox>
            </div>
            <div class="col-md-3">
                <mat-checkbox>Marketing Manager</mat-checkbox>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3">
              <mat-checkbox>Marketing Manager</mat-checkbox>
            </div>
            <div class="col-md-3">
              <mat-checkbox>Coordinator</mat-checkbox>
            </div>
            <div class="col-md-3">
              <mat-checkbox>MSL</mat-checkbox>
            </div>
            <div class="col-md-3">
                <mat-checkbox>SUPER MSL</mat-checkbox>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3">
              <mat-checkbox>Sales Rep</mat-checkbox>
            </div>
            <div class="col-md-3">
              <mat-checkbox>Speaker</mat-checkbox>
            </div>
            <div class="col-md-3">
              <mat-checkbox>GMH Admin</mat-checkbox>
            </div>
            <div class="col-md-3">
                <mat-checkbox>Admin Read Only</mat-checkbox>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3">
              <mat-checkbox>District Manager</mat-checkbox>
            </div>
            <div class="col-md-3">
              <mat-checkbox>Regional Manager</mat-checkbox>
            </div>
            <div class="col-md-3">
              <mat-checkbox>Global Admin</mat-checkbox>
            </div> 
            <div class="clearfix"></div>
            <div class="col-md-12 text-right white-btn-wrap"> 
                <button mat-button class="btn btn-white" (click)="openDialog()">Upload Files</button>
            </div>
            <div class="col-md-12 text-center">
                <button mat-button class="btn btn-blue">Submit</button>
            </div>
          </div>
          </div>
        </div>
      </div><!-- row -->
    </div>
  </mat-card>
</div>