.venue-admin-wrapper mat-card{
    padding: 38px 44px 84px 45px; 
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 0 6px 24px 0 #E2E9F7;
}
.venue-admin-wrapper hr{
    margin-top: 10px;
    margin-bottom: 30px;
}
.catering-wrapper hr{
    margin-top: 10px;
    margin-bottom: 25px;
}
.catering-wrapper{
    margin-top: 9px;
}
.mr-tb-30-34{
    margin-bottom: 30px;
    margin-top: 34px
}
.btn-wrap
 
.nopadding{
    padding: 0px;
}
 
.btn-blue{
    height: 55px;	width: 180px;	border-radius: 4px;	background-color: #2B62CA;
    color: #FFFFFF;		font-size: 18px;	font-weight: 500;	line-height: 23px;	text-align: center;
}
.btn-white{
    height: 55px;	width: 180px;	border: 1px solid #2B62CA;	border-radius: 4px;	background-color: #FFFFFF; 
    color: #2B62CA;		font-size: 18px;	font-weight: 500;	line-height: 23px;	text-align: center;
}
.training-venue-wrapper .form-control{
	height: 38px; border: 1px solid #CECECE;	border-radius: 4px; margin-bottom: 30px;
}
.form-group label{
    margin-bottom: 6px;
    	font-size: 14px;	line-height: 16px; color: #757575;
}
.master-heading{
    font-size: 28px;
    color: #2B62CA;
    font-weight: bold;
}
.para-heading{   
    color: #2B62CA; margin-bottom: 25px;		font-size: 20px;	line-height: 22px;
}
.form-group.btn-wrap{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.bottom-text-para{  
    color: #2B62CA;		font-size: 18px;	line-height: 22px;	text-align: center;
} 


@media only screen and (max-width: 800px) {
    .venue-admin-wrapper mat-card{
        padding: 25px;  
    }
}