<div class="col-md-12 venue-admin-wrapper">
  <mat-card>
    <div class="master-heading">Add Venue</div>
    <hr>
    <div class="clearfix"></div>
    <div class="row form-wrapper">
      <div class="col-md-4">
        <div class="form-group">
          <label>Venue Name*</label>
          <mat-form-field>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Venue Category</label>
          <mat-form-field floatLabel="never">
            <mat-select placeholder="Select Category">
              <mat-option value="Category1">Category1</mat-option>
              <mat-option value="Category2">Category2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Venue Type*</label>
          <mat-form-field floatLabel="never">
            <mat-select placeholder="Select Type">
              <mat-option value="Type1">Type1</mat-option>
              <mat-option value="Type1">Type2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="clearfix"></div>


      <div class="col-md-6">
        <div class="form-group">
          <label>Address*</label>
          <mat-form-field>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>City*</label>
          <mat-form-field>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>State</label>
          <mat-form-field floatLabel="never">
            <mat-select placeholder="Select Type">
              <mat-option value="Type1">State 1</mat-option>
              <mat-option value="Type1">State 2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Phone</label>
          <mat-form-field>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Contact Person Phone</label>
          <mat-form-field>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Contact Person Phone</label>
          <mat-form-field>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Contact Person Email</label>
          <mat-form-field>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="col-md-12 catering-wrapper">
        <div class="master-heading">Catering Company</div>
        <hr>
        <div>If you selected a venue type other than restaurant, a caterer will be required.</div>
        <div class="mr-tb-30-34">
          <mat-checkbox> I do not need a Caterer</mat-checkbox>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Company Name</label>
              <mat-form-field>
                <input matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Company Name</label>
              <mat-form-field>
                <input matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Contact Person</label>
              <mat-form-field>
                <input matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="clearfix"></div>


          <div class="col-md-6">
            <div class="form-group">
              <label>Address*</label>
              <mat-form-field>
                <input matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>City*</label>
              <mat-form-field>
                <input matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>State</label>
              <mat-form-field floatLabel="never">
                <mat-select placeholder="Select Type">
                  <mat-option value="Type1">State 1</mat-option>
                  <mat-option value="Type1">State 2</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Estimated Deposit</label>
              <mat-form-field>
                <input matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="col-md-12">
            <div class="form-group btn-wrap">
              <button mat-button class="btn btn-blue">Submit</button>
            </div>
            <div class="bottom-text-para">Return to Venue Search</div>
          </div>
          <div class="clearfix"></div>

        </div><!-- 2nd-form-row -->
      </div>

    </div><!-- row-->
  </mat-card>
</div>