<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <mat-card class="first-wrap line-height">
      Event Inforrmation
      <div class="clearfix"></div>
      <hr>
      <div class="col-md-4">
        <ul>
          <li><b>ID</b>: 2558</li>
          <li><b>Product</b>: MSBDHDJD</li>
          <li><b>Program Date</b>: 9/6/2019</li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul>
          <li><b>Program Type</b>: 2558</li>
          <li><b>Speaker</b>: MSBDHDJD</li>
          <li><b>Terotirry</b>: 9/6/2019</li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul>
          <li><b>Venue</b>: 111 Club FGS</li>
        </ul>
      </div>
    </mat-card>
    <mat-card class="second-wrap">
      Patient Program logistic <span class="pull-right">Save & Next ></span>
      <div class="clearfix"></div>
      <hr>
      <div class="col-md-6">
        <div class="form-group">
          <label>Program Series</label>
          <select class="form-control" name="" id="">
            <option>2019 Patient Programs</option>
            <option></option>
          </select>
        </div>
        <div class="form-group">
          <label>Product</label>
          <select class="form-control" name="" id="">
            <option>NuerioScience-MG</option>
            <option></option>
          </select>
        </div>
        <div class="form-group">
          <label>Topic</label>
          <select class="form-control" name="" id="">
            <option>Patient Group</option>
            <option></option>
          </select>
        </div>
        <div class="form-group radio-group">
          <label>Program Type</label>
          <div class="clearfix"></div>
          <div class="col-md-5">
            <label><input type="radio" name="optradio" checked>Live</label>
            <label><input type="radio" name="optradio">Virtual</label>
            <label><input type="radio" name="optradio"></label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" placeholder="Others">
          </div>
        </div> 
        <div class="cleearfix"></div>
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date Picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>   
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Alternate Program Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label>Speaker Program Start Time</label>
          <div class="clearfix"></div>
          <div class="col-md-3"><input class="form-control"></div>
          <div class="col-md-3"><input class="form-control"></div>
          <div class="col-md-3"><input class="form-control"></div> 
        </div>
        <div class="form-group">
          <label>Speaker Program End Time</label>
          <div class="clearfix"></div>
          <div class="col-md-3"><input class="form-control"></div>
          <div class="col-md-3"><input class="form-control"></div>
          <div class="col-md-3"><input class="form-control"></div> 
        </div> 
      </div>
      <div class="col-md-6"></div>
      <div class="clearfix"></div>
      <br>
    </mat-card>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <mat-card>Second</mat-card>
  </mat-step>


  <mat-step class="event-third-section">
    <mat-card class="first-wrap line-height">
      <h3 class="heading">Event Information </h3>
      <div class="clearfix"></div>
      <hr>
      <div class="col-md-4">
        <ul>
          <li><b>ID</b>: 2558</li>
          <li><b>Product</b>: Neuroscience-MG</li>
          <li><b>Program Date</b>: 9/26/2019</li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul>
          <li><b>Program Type</b>: Live</li>
          <li><b>Speaker</b>: Juan Alejos</li>
          <li><b>Terotirry</b>: TM - Austin, TX</li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul>
          <li><b>Venue</b>: 111 Chop House</li>
        </ul>
      </div>
    </mat-card>
  
    <mat-card class="second-wrap">
      <span class="heading"> Venue Selected</span> <span class="pull-right lbl-save-next">Save & Next ></span>
      <div class="clearfix"></div>
      <hr>
      <div class="col-md-4">
        <p><span class="vanue-style">Name:</span> 111 Chop House</p>
        <p><span class="vanue-style">Type:</span> Restaurant</p>
        <p><span class="vanue-style">Phone:</span> 201-555-7948</p>
        <div >
        <label class="lbl-radio"><input type="radio" name="optradio" checked> Preferred Venue</label><br>
        <label class="lbl-radio"><input type="radio" name="optradio"> Alternate Vanue</label>
      </div>
      </div>
      <div class="col-md-4">
        <p><span class="vanue-style">Address:</span> 11 Shrewburry Street</p>
        <p><span class="vanue-style">City & State:</span> Worecester, MA</p>
        <p><span class="vanue-style vanue-style-career">Caterer Info: </span> <input type="text" class="form-control text-vanue"></p>
      </div>
      <div class="col-md-4">
          
          <button class="btn vanue-delete-btn"><span class="glyphicon glyphicon-trash"></span> Delete</button>
      </div>
      <div class="col-md-12">
          <button class="btn btn-save"> Save & Next</button>
          <button class="btn btn-reset vanue-delete-btn"> Reset</button>
      </div>
    </mat-card>

    <mat-card class="second-wrap">
        <span class="heading">  Search</span> <span class="pull-right lbl-add-venue">Add New Venue </span>
        <div class="clearfix"></div>
        <hr>
        <div class="col-md-4">
          <div>
             Venue Name
            <input type="text" class="form-control" >
          </div>
          <div class="search-padding"> 
             City
             <input type="text" class="form-control">
           </div>
        </div>
        <div class="col-md-4">
         <div>
           Venue Category
           <select class="form-control" name="" id="">
             <option>Select Category</option>
             <option></option>
           </select>
         </div>
         <div class="search-padding">
           State
            <select class="form-control" name="" id="">
              <option>ST</option>
              <option></option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
            <div>
                Venue Type
                <select class="form-control" name="" id="">
                  <option>Select Type</option>
                  <option></option>
                </select>
              </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-search"> Save & Next</button>
            
        </div>
      </mat-card>


      <mat-card class="second-wrap">
          <span class="heading"> Venue Selected</span>
          <div class="clearfix"></div>
          <hr>
          <div class="col-md-4">
            <p><span class="vanue-style">Name:</span> Stonehouse Center</p>
            <p><span class="vanue-style">Type:</span> Convention Center</p>
            <p><span class="vanue-style">Email:</span> shcenter@emial.com</p>
          </div>
          <div class="col-md-4">
            <p><span class="vanue-style">Address:</span> 7345 Northpoint Dr</p>
            <p><span class="vanue-style">City & State:</span> Newark, NJ</p>
            <p><span class="vanue-style">Phone:</span> 908-555-3986</p>
          </div>
          <div class="col-md-4">
              <p><span class="vanue-style">PX Phone:</span> 908-243-4356</p>
              <p><span class="vanue-style">PX Contact:</span> Michael Tonda</p>
          </div>
          <div class="col-md-12">
              <button class="btn btn-add-venue btn-save"> Add Venue</button>
              <button class="btn btn-search"> View Details</button>
          </div>

          <hr>
          <div class="col-md-4">
            <p><span class="vanue-style">Name:</span> Stonehouse Center</p>
            <p><span class="vanue-style">Type:</span> Convention Center</p>
            <p><span class="vanue-style">Email:</span> shcenter@emial.com</p>
          </div>
          <div class="col-md-4">
            <p><span class="vanue-style">Address:</span> 7345 Northpoint Dr</p>
            <p><span class="vanue-style">City & State:</span> Newark, NJ</p>
            <p><span class="vanue-style">Phone:</span> 908-555-3986</p>
          </div>
          <div class="col-md-4">
              <p><span class="vanue-style">PX Phone:</span> 908-243-4356</p>
              <p><span class="vanue-style">PX Contact:</span> Michael Tonda</p>
          </div>
          <div class="col-md-12">
              <button class="btn btn-add-venue btn-save"> Add Venue</button>
              <button class="btn btn-search"> View Details</button>
          </div>
        </mat-card>
        
        
  </mat-step>
</mat-horizontal-stepper>