mat-horizontal-stepper{
    margin-top: 30px;
    margin-bottom: 30px;
}
mat-card ul{
    list-style-type: none;
    /* padding-left: 15px; */
}
.mat-step-icon .mat-icon{
    display: none;
}
.first-wrap{
    margin-top: 25px;
}
.second-wrap{
    margin-top: 30px;
}
.border-wrap{
    border-right:1px solid #cecece;
}
.radio-group input{
    margin-right: 8px;
    margin-left: 8px;
}
.radio-group .col-md-5{
    padding-left: 0px;
}
.radio-group .col-md-7{
    padding-right: 10px;
    padding-left: 0px;
}
.form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
.lbl-radio{
    font-weight: 200 !important;
}
.vanue-style{
    font-weight: 700;
    color: darkslategrey;
}
.vanue-style-career{
float: left;
}
.text-vanue{
    height: 80px !important;
    width: 65%;
}
.vanue-delete-btn{
    float: right;
    background-color: white;
    color: #2b72f9;
    font-weight: 600;
}
.btn-save{
    background-color: #256bbf;
    height: 50px;
    width: 15%;
    color: white;
    font-size: 20px;
    float:  right;
}
.btn-reset{
    font-size: 19px;
    float:  right;
    padding-top: 13px;
    font-weight: 500;
    padding-right: 30px;
}
.btn-search{
    background-color: white;  
    color: #1873d4; 
    padding: 10px 25px;
    border: 1px solid;
}
.search-padding{
    padding-top: 20px;
}
.btn-add-venue{
    margin-top: 50px;
    margin-left: 12px;
}
.heading{
    font-weight: 600;
    color: #116bde;
    font-size: 22px;
}
.lbl-save-next{
    font-weight: 600;
    color: #1662d8;
}
.lbl-add-venue{
    font-weight: 600;
    color: #1662d8;
}
.line-height{
    line-height: 25px;
} 
.pl-0{
    padding-left: 0px;
}  
.right-form-wrap .form-group input[type='radio']{
    margin-right: 10px;
    margin-left: 10px;
} 
.primary-custom{
    background-color: #1873d4;
    border:1px solid #1873d4;
    color: #fff;
    padding: 3px 30px; 
    margin-left: 15px;
}
.second-wrap.mat-card label,
.form-parent-wrapper.mat-card label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 13px;
}
.p-l-25{
    padding-left: 35px; 
    padding-right: 0px
}
.p-r-25{ 
    padding-right: 35px;
    padding-left: 0px
}
.form-control{
    height: 30px;
}
.header-text-style{
    color: #1873d4;
    font-size: 25px;
    font-weight: 700;
}
b, strong {
    font-weight: 700;
    color: darkslategrey;
}
.clr-blue{
    color: #1873d4;
    font-weight: 600;
}
.clr-grey{
    color: grey;
}
.clr-lightgrey{
    background-color: lightgrey;
}
.mat-checkbox-layout{
    margin-bottom: 10px;
}
.fs-12{
    font-size: 12px;
}
.border{
    border-right: 1px solid lightgray;
} 
.height5{
    height: 5px;
} 
.search-input-pad{
    margin-top: 8px;
}
.search-state{
    width: auto !important;
}

/*------------ fourth section------- */

.delete-btn-fnl{
    background-color: white;
    height: 50px;
    width: 26%;
    color: #0660d4;
    font-size: 20px;
    float: right;
    border: 1px solid;
    margin-top: 50px;
}
.btn-submit-fnl{
    background-color: #256bbf;
    height: 50px;
    width: 26%;
    color: white;
    font-size: 20px;
    float:  left;
    margin-top: 50px;
}
.margin-ps{
    margin: 26px;
}
.pgm-exp{
    font-size: 17px;
    float: right;
}
.pgm-status{
    font-size: 17px;
}
.hr-color{
    border-top: 1px solid #d4c9c9a1;
}
 .mat-card-sd{
    box-shadow: 7px 6px 24px -8px rgba(0,0,0,.08);
}
hr {
    margin-top: 10px;  
}
.custom-ul{
    padding-left: 0px !important;
}
.select-short .form-control{
    width: 40%;
}
.mrb-20{
    margin-bottom: 20px;
}
.custom-search{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 45px;
}
table {
    width: 100%;
    margin-top:30px;
    box-shadow: none;
    border:1px solid #cecece;
}
.mrt-60{
    margin-top: 60px;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right: 1px solid #cecece;
    text-align: center;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type { 
    padding-left: 0px;
    padding-right: 0px;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type { 
    padding-left: 0px;
    padding-right: 0px;
}
.mat-table-top{
    border-right: none !important;
}
.mat-table-top .clr-blue{
    font-size: 14px;
}
.form-control.text-vanue{
    margin-left: 10px;
}
.last-row-hr{
    margin-bottom: 30px;
    margin-top: 30px;
}
.mat-step-header{
    margin: auto;
}
.icon-pallet .glyphicon{
    margin-right: 10px;
}
.glyphicon.glyphicon-user{ 
    border: 1px solid blue;
    border-radius: 50%;
    padding: 4px;
    background: aliceblue;
    margin-left: -2px;
    font-size: 9px;
}
.icon-pallet li{
    margin-bottom: 5px;
}    
.fnt-weigth{
    font-weight: 600;
    color: #1873d4; 
}
.rw-pt-pad{
    padding-bottom: 12px;
}
.rw-pt-mar{
    margin-top:18px;
}
.pad-lft-zero{
    padding-left: 0px;
}
.pad-lft-evt{
    padding-left: 18px;
}
ul.clr-blue.icon-pallet{
    padding-left: 0px;
}
.mat-tbl-wd{
    width: 100%;
}


