mat-horizontal-stepper{
    margin-top: 50px;
    margin-bottom: 50px;
}
mat-card ul{
    list-style-type: none;
    padding-left: 0px;
}
.mat-step-icon .mat-icon{
    display: none;
}
.first-wrap{
    margin-top: 25px;
}
.second-wrap{
    margin-top: 30px;
}
.border-wrap{
    border-right:1px solid #cecece;
}
.radio-group input{
    margin-right: 8px;
    margin-left: 8px;
}
.radio-group .col-md-5{
    padding-left: 0px;
}
.radio-group .col-md-7{
    padding-right: 10px;
    padding-left: 0px;
}
.form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.lbl-radio{
    font-weight: 200 !important;
}
.vanue-style{
    font-weight: 700;
}
.vanue-style-career{
float: left;
}
.text-vanue{
    height: 80px;
    width: 65%;
}
.vanue-delete-btn{
    float: right;
    background-color: white;
    color: #2b72f9;
    font-weight: 600;
}
.btn-save{
    background-color: #256bbf;
    height: 50px;
    width: 15%;
    color: white;
    font-size: 20px;
    float:  right;
}
.btn-reset{
    font-size: 20px;
    float:  right;
    padding-top: 13px;
    padding-right: 30px;
}
.btn-search{
    background-color: white;
    height: 50px;
    width: 15%;
    color: #0660d4;
    font-size: 20px;
    float: right;
    border: 1px solid;
    margin-top: 50px;
}
.search-padding{
    padding-top: 20px;
}
.btn-add-venue{
    margin-top: 50px;
    margin-left: 12px;
}
.heading{
    font-weight: 600;
    color: #116bde;
    font-size: 22px;
}
.lbl-save-next{
    font-weight: 600;
    color: #1662d8;
}
.lbl-add-venue{
    font-weight: 600;
    color: #1662d8;
}
.line-height{
    line-height: 25px;
}
  