<div class="col-md-12 training-initiate-admin-wrapper">        
	<mat-card class="first-wrap line-height mat-card-sd">
		<div class="col-md-12"><span class="header-text-style">Event Information</span></div>
		<div class="clearfix"></div>
		<div class="col-md-12">
		  <hr class="hr-color">
		</div>
		<div class="col-md-4">
		  <ul>
		    <li><b>Speaker Program ID:</b> 2534</li>
		    <li><b>Speaker:</b> Juan Alejos</li>
		  </ul>
		</div>

		<div class="col-md-4">
		  <ul>
		    <li><b>Speaker Program Title:</b> Opsumit</li>
		    <li><b>Program Date:</b> 9/26/2019</li>
		  </ul>
		</div>

		<div class="col-md-4">
		  <ul>
		    <li><b>Venue:</b> J Alexander's</li>
		    <li><b>Territory:</b> Dayton, Ohio</li>
		  </ul>
		</div>
    </mat-card>

    <mat-card class="first-wrap line-height no-pad mat-pad mat-card-sd">
	    <div class="col-md-12"><span class="header-text-style">Attendee Details</span></div>
	    <div class="clearfix"></div>
		<div class="col-md-12 pad-hr">
		  <hr class="hr-color">
		</div>
	    <div class="AD-training-material-wrapper">
	        <div class="col-md-12 even-content-panel pad-left">
	          <div class="row">
	            <div class="col-md-4">
	              <ul>
	                <li><b>Name: </b> Michela Aab</li>
	                <li><b>Specialty:</b> Internal Medicine</li>
	                <li><b>City & State:</b> Fort Worth, TX</li>
	              </ul>
	            </div>
	            <div class="col-md-4">
	              <ul>
	                <li><b>Degree:</b> Doctor of Osteopathy</li>
	                <li><b>Email:</b> Pooja.chadel@Alexion.com</li>
	                <li><b>Phone Number:</b> 817-923-2677</li>
	            </ul>
	            </div>
	            <div class="col-md-4">
	            	<ul>
	            		<li>
                      		<button class="btn vanue-delete-btn btn-transparent"><span  class="glyphicon glyphicon-trash"></span> Delete</button>
                  		</li>
	            	</ul>
	              
                  <label>Status</label>
                  <mat-form-field>
                    <mat-select placeholder="" value="NA">
                      <mat-option value="NA">
                        No Response
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
	            </div>
	          </div>
	          <div class="clearfix"></div>
	        </div><!-- even-content-panel End-->
	        <div class="col-md-12 odd-content-panel pad-left">
	          <div class="row">
	            <div class="col-md-4">
	              <ul>
	                <li><b>Name: </b> Michela Aab</li>
	                <li><b>Specialty:</b> Internal Medicine</li>
	                <li><b>City & State:</b> Fort Worth, TX</li>
	              </ul>
	            </div>
	            <div class="col-md-4">
	              <ul>
	                <li><b>Degree:</b> Doctor of Osteopathy</li>
	                <li><b>Email:</b> Pooja.chadel@Alexion.com</li>
	                <li><b>Phone Number:</b> 817-923-2677</li>
	            </ul>
	            </div>
	            <div class="col-md-4">
	            	<ul>
	            		<li>
                      		<button class="btn vanue-delete-btn btn-transparent"><span  class="glyphicon glyphicon-trash"></span> Delete</button>
                  		</li>
	            	</ul>
                  <label>Status</label>
                  <mat-form-field>
                    <mat-select placeholder="" value="NA">
                      <mat-option value="NA">
                        No Response
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
	            </div>
	          </div>
	        </div><!-- odd-content-panel End-->
	        <div class="col-md-12 even-content-panel pad-left">
	          <div class="row">
	            <div class="col-md-4">
	              <ul>
	                <li><b>Name: </b> Michela Aab</li>
	                <li><b>Specialty:</b> Internal Medicine</li>
	                <li><b>City & State:</b> Fort Worth, TX</li>
	              </ul>
	            </div>
	            <div class="col-md-4">
	              <ul>
	                <li><b>Degree:</b> Doctor of Osteopathy</li>
	                <li><b>Email:</b> Pooja.chadel@Alexion.com</li>
	                <li><b>Phone Number:</b> 817-923-2677</li>
	            </ul>
	            </div>
	            <div class="col-md-4">
	            	<ul>
	            		<li>
                      		<button class="btn vanue-delete-btn btn-transparent"><span  class="glyphicon glyphicon-trash"></span> Delete</button>
                  		</li>
	            	</ul>
	              
                  <label>Status</label>
                  <mat-form-field>
                    <mat-select placeholder="" value="NA">
                      <mat-option value="NA">
                        No Response
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
	            </div>
	          </div>
	          <div class="clearfix"></div>
	        </div><!-- even-content-panel End-->
	        <div class="col-md-12 odd-content-panel pad-left">
	          <div class="row">
	            <div class="col-md-4">
	              <ul>
	                <li><b>Name: </b> Michela Aab</li>
	                <li><b>Specialty:</b> Internal Medicine</li>
	                <li><b>City & State:</b> Fort Worth, TX</li>
	              </ul>
	            </div>
	            <div class="col-md-4">
	              <ul>
	                <li><b>Degree:</b> Doctor of Osteopathy</li>
	                <li><b>Email:</b> Pooja.chadel@Alexion.com</li>
	                <li><b>Phone Number:</b> 817-923-2677</li>
	            </ul>
	            </div>
	            <div class="col-md-4">
	            	<ul>
	            		<li>
                      		<button class="btn vanue-delete-btn btn-transparent"><span  class="glyphicon glyphicon-trash"></span> Delete</button>
                  		</li>
	            	</ul>
	              
                  <label>Status</label>
                  <mat-form-field>
                    <mat-select placeholder="" value="NA">
                      <mat-option value="NA">
                        No Response
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
	            </div>
	          </div>
	        </div><!-- odd-content-panel End-->
	        <div class="col-md-12 even-content-panel pad-left">
	          <div class="row">
	            <div class="col-md-4">
	              <ul>
	                <li><b>Name: </b> Michela Aab</li>
	                <li><b>Specialty:</b> Internal Medicine</li>
	                <li><b>City & State:</b> Fort Worth, TX</li>
	              </ul>
	            </div>
	            <div class="col-md-4">
	              <ul>
	                <li><b>Degree:</b> Doctor of Osteopathy</li>
	                <li><b>Email:</b> Pooja.chadel@Alexion.com</li>
	                <li><b>Phone Number:</b> 817-923-2677</li>
	            </ul>
	            </div>
	            <div class="col-md-4">
	            	<ul>
	            		<li>
                      		<button class="btn vanue-delete-btn btn-transparent"><span  class="glyphicon glyphicon-trash"></span> Delete</button>
                  		</li>
	            	</ul>
	              
                  <label>Status</label>
                  <mat-form-field>
                    <mat-select placeholder="" value="NA">
                      <mat-option value="NA">
                        No Response
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
	            </div>
	          </div>
	          <div class="clearfix"></div>
	        </div><!-- even-content-panel End-->
    	</div>
  	</mat-card>

  	<mat-card class="first-wrap line-height mat-card-sd">
		<div class="col-md-12"><span class="header-text-style">Speaker Details</span></div>
		<div class="clearfix"></div>
		<div class="col-md-12">
		  <hr class="hr-color">
		</div>
		<div class="col-md-4">
		  <ul>
		    <li><b>Total:</b> 01</li>
		  </ul>
		</div>

		<div class="col-md-4">
		</div>

		<div class="col-md-4">
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12">
		  <hr class="hr-color">
		</div>
		<div class="col-md-4">
		  <ul>
		    <li><b>Name:</b> Jaun Alejos</li>
		    <li><b>Specialty:</b> Acupuncture</li>
		    <li><b>City & State:</b> NA</li>
		  </ul>
		</div>

		<div class="col-md-4">
			<ul>
				<li><b>Degree:</b> Advanced Practice Nurse</li>
				<li><b>Email:</b> Pooja.chadel@Alexion.com</li>
				<li><b>Phone Number:</b> 310-505-0088</li>
			</ul>
		</div>

		<div class="col-md-4">
		<label>Status</label>
          <mat-form-field>
            <mat-select placeholder="" value="NA">
              <mat-option value="NA">
                No Response
              </mat-option>
            </mat-select>
          </mat-form-field>
		</div>
    </mat-card>

    <mat-card class="first-wrap line-height mat-card-sd">
		<div class="col-md-12"><span class="header-text-style">Alexion Employees Details</span></div>
		<div class="clearfix"></div>
		<div class="col-md-12">
		  <hr class="hr-color">
		</div>
		<div class="col-md-4">
		  <ul>
		    <li><b>Total:</b> 01</li>
		  </ul>
		</div>

		<div class="col-md-4">
		</div>

		<div class="col-md-4">
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12">
		  <hr class="hr-color">
		</div>
		<div class="col-md-4">
		  <ul>
		    <li><b>Name:</b> Louise Albert</li>
		    <li><b>Specialty:</b> NA</li>
		    <li><b>City & State:</b> North Hampton</li>
		  </ul>
		</div>

		<div class="col-md-4">
			<ul>
				<li><b>Degree:</b> NA</li>
				<li><b>Email:</b> louise.albert@email.com</li>
				<li><b>Phone Number:</b> 555-555-5552</li>
			</ul>
		</div>

		<div class="col-md-4">
		<label>Status</label>
          <mat-form-field>
            <mat-select placeholder="" value="NA">
              <mat-option value="NA">
                No Response
              </mat-option>
            </mat-select>
          </mat-form-field>
		</div>
    </mat-card>
	
	    <div class="col-md-12 btn-view">
	    	<button class="btn view-details-custom-attendee fnt-weigth"> Download Attendee List </button>
	    	<button class="btn view-details-custom-attendee fnt-weigth"> Export Sign-In Sheet </button>
	    	<button class="btn view-details-custom-attendee fnt-weigth"> Create Program Invitation </button>
	    </div>
    <div class="form-group rec-speaker-program-btns">
        <div class="col-md-12">
          <!-- <button mat-button class="fnt-weigth">Reset</button> -->
          <!-- <button mat-button class="primary-custom" (click)="stepperNext(stepper)">Update -->
					<button mat-button class="primary-custom">Update
          </button>
        </div>
    </div>
</div>        