.search-speaker-wrapper mat-card{
    padding: 38px 44px 50px 45px; 
    margin-top: 70px;
    margin-bottom: 45px;
    box-shadow: 0 6px 24px 0 #E2E9F7;
}
.search-speaker-wrapper hr{
    margin-top: 10px;
    margin-bottom: 30px;
}  
.nopadding{
    padding: 0px;
}
.btn-blue{
    height: 55px;	width: 180px;	border-radius: 4px;	background-color: #2B62CA; top: 17px;
    color: #FFFFFF;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: 500;	line-height: 23px;	text-align: center;
}
.btn-white{
    height: 55px;	width: 180px;	border: 1px solid #2B62CA;	border-radius: 4px;	background-color: #FFFFFF; 
    color: #2B62CA;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: 500;	line-height: 23px;	text-align: center;
}
.form-group label{
    margin-bottom: 6px;
    font-family: "Helvetica Neue";	font-size: 14px;	line-height: 16px; color: #757575;
}
.master-heading{
    font-size: 28px;
    color: #2B62CA;
    font-weight: bold;
}
.custom-ul{
    padding-left: 0px !important;
}
.custom-ul li{
    padding-bottom: 6px;
}
.pad-lft-zero{
    padding-left: 0px;
}
.pad-lft-zero li{
    padding-bottom: 6px;
}
mat-card ul{
    list-style-type: none;
}
.pl-0{
    padding-left: 0px !important;
}  
.line-height{
    line-height: 22px;
} 
.icon-panel{
    font-size: 15px;	font-weight: 500;	line-height: 18px;
    color: #2B62CA;
}
.icon-panel li{
    padding-bottom: 11px;
}
.img-view{
    width: 20px;
    height: 20px;
}
.flt-rt{
    float: right;
}
.mr-top-0{
    margin-top: 0px !important;
}
@media only screen and (max-width: 800px) {
    .search-speaker-wrapper mat-card{
        padding: 15px;  
    }
    .white-btn-wrap .btn-white{
        margin: 20px 0px; 
  }
  .text-right.btn-wrap{
    text-align: center;
  }
  .flt-rt{
      float: left;
      padding-left: 0px;
  }
  .line-height{
    padding-left: 0px;
 } 
}