.dashboard-admin-wrapper mat-card:first-child{
    padding: 38px 44px 0px 45px; 
    margin-top: 70px;
    margin-bottom: 0px;
    box-shadow: 0 6px 24px 0 #E2E9F7;
}
.dashboard-admin-wrapper mat-card{
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 38px 44px 0px 45px; 
    box-shadow: 0 6px 24px 0 #E2E9F7;
}
.dashboard-admin-wrapper mat-card:last-child{ 
    margin-bottom: 50px;
    box-shadow: 0 6px 24px 0 #E2E9F7;
}
.dashboard-admin-wrapper mat-card hr{
    margin-top: 0px;
    margin-bottom: 20px;
}
table {
    width: 100%;
    margin-bottom: 30px;
}
.table-clr-blue{
    color: #2B62CA;
}
tr.mat-footer-row, tr.mat-row {
    height: 60px;
}
 
.mat-row:nth-child(odd){ 
    background-color: #F0F0F0;
}
.dashboard-heading-wrapper .clr-blue{
    float: right;
    color: #2B62CA;	font-family: "Helvetica Neue";	font-size: 18px;	line-height: 22px;	 
    margin-top: 20px;
}
.mat-header-cell {
    color: #757575;	font-family: "Helvetica Neue";	font-size: 16px;	line-height: 22px;
}

/*  
.btn-blue{
    height: 55px;	width: 180px;	border-radius: 4px;	background-color: #2B62CA;
    color: #FFFFFF;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: 500;	line-height: 23px;	text-align: center;
}
.btn-white{
    height: 55px;	width: 180px;	border: 1px solid #2B62CA;	border-radius: 4px;	background-color: #FFFFFF; 
    color: #2B62CA;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: 500;	line-height: 23px;	text-align: center;
}
.dashboard-admin-wrapper .form-control{
	height: 38px; border: 1px solid #CECECE;	border-radius: 4px; margin-bottom: 30px;
}
.form-group label{
    margin-bottom: 6px;
    font-family: "Helvetica Neue";	font-size: 14px;	line-height: 16px; color: #757575;
} */
.master-heading{
    font-size: 30px;
    color: blue;
}
.para-heading{   
    color: #2B62CA; margin-bottom: 25px;	font-family: "Helvetica Neue";	font-size: 20px;	line-height: 22px;
} 
@media only screen and (max-width: 800px) {
    .dashboard-admin-wrapper mat-card{
        padding: 15px; 
        margin: 20px 0px;
    }
    
}

