.training-admin-wrapper mat-card{
    padding: 38px 44px 0px 45px; 
    margin-top: 70px;
    margin-bottom: 70px;
}
.training-admin-wrapper mat-card hr{
    margin-top: 0px;
    margin-bottom: 20px;
}
.icon-panel{
    font-size: 15px;	font-weight: 500;	line-height: 18px;
    color: #2B62CA;
}
.icon-panel img{
    margin-right: 8px;
} 
.nopadding{
    padding: 0px;
}

.AD-form-training .btn.btn-blue{
    margin-top: 17px;
}
.AD-form-training .btn.btn-white{
    margin-top: 5px;
}
.btn-blue{
    height: 55px;	width: 180px;	border-radius: 4px;	background-color: #2B62CA;
    color: #FFFFFF;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: 500;	line-height: 23px;	text-align: center;
}
.btn-white{
    height: 55px;	width: 180px;	border: 1px solid #2B62CA;	border-radius: 4px;	background-color: #FFFFFF; 
    color: #2B62CA;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: 500;	line-height: 23px;	text-align: center;
}
.training-admin-wrapper .form-control{
	height: 38px; border: 1px solid #CECECE;	border-radius: 4px; margin-bottom: 30px;
}
.form-group label{
    margin-bottom: 6px;
    font-family: "Helvetica Neue";	font-size: 14px;	line-height: 16px; color: #757575;
}
.master-heading{
    font-size: 30px;
    color: blue;
}
.para-heading{   
    color: #2B62CA; margin-bottom: 25px;	font-family: "Helvetica Neue";	font-size: 20px;	line-height: 22px;
}




@media only screen and (max-width: 800px) {
    .training-admin-wrapper mat-card{
        padding: 15px; 
        margin: 20px 0px;
    }
    .AD-form-training .text-right{
        text-align: center !important;
    }
}