@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.nopadding {
    padding: 0px;
  }

.mat-tab-label-container .mat-tab-list .mat-tab-labels {
    display: flex;
    float: right;
    margin-right: 175px;
} 
.mat-tab-body-content {
  height: 100%;
  overflow: auto;
  float: left;
  width: 100%; 
  padding: 15px;
}
.mat-tab-body-wrapper .mat-tab-body-content{
  padding: 15px 0px;
}
mat-card{
  float: left;
  width: 100%;
} 
hr {
 float: left;
 width: 100%;
 margin-bottom: 15px;
 margin-top: 15px;
}
.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
} 
.mat-horizontal-stepper-header-container {
   background: white;
} 
.mat-stepper-horizontal-line {
  border-top-width: 3px !important; 
  border-color: #757575 !important;
} 
.mat-horizontal-stepper-header { 
  width: 125px;
  text-align: center; 
  height: 125px !important; 
  padding: 0 49px !important;
}
.mat-horizontal-content-container{
  padding: 0px !important; 
}
.mat-form-field-infix{
  width: 100% !important; 
  border-top: 0px; 
} 
.mat-horizontal-stepper-header-container{
  border-radius: 8px !important; 
}

.dailog-wrapper .fc-toolbar .fc-right,
.dailog-wrapper .btn.btn-default,
.dailog-wrapper .fc-state-disabled {
  display: none;
}
.dailog-wrapper .fc button, .fc table, body .fc {
  font-size: 11px;
}
.dailog-wrapper .fc .fc-toolbar>*>:first-child {
  margin-left: 0;
  font-size: 16px; 
  font-weight: bold;
}
.border-wrap,
.dailog-form-wrap{
  height: 350px;
}
.dailog-wrapper .border-wrap{
  border-right: 1px solid #cecece;  
  border-bottom: 1px solid #cecece; 
}
.dailog-wrapper .border-wrap p{
  margin-left: 18px;
}
/* .dailog-wrapper .border-wrap p:last-child{
  border-bottom: 1px solid #cecece;
}  */
.dailog-wrapper .mat-dialog-content { 
  margin: 0 -24px;
  padding: 0 24px;
  max-height: none !important;
  height: auto;
  overflow: none; 
}
.mtp-15{
  margin-top: 15px;
} 
.nopadding{
  padding: 0px;
}
.dailog-form-wrap{
  border-bottom: 1px solid #cecece;
}
.dailog-form-wrap hr{
  margin-top: 7px;
  margin-bottom: 10px;
}
.dailog-wrapper .custom-hr{
  margin-top: 0px;
  margin-bottom: 10px;
}
.mrtp{
  margin-top: 20px;
}
.dailog-wrapper .btn-wrap{
  margin-top: 10px;
}
.dailog-wrapper .btn-wrap .btn.btn-primary{
  margin-left: 15px;
}
.fc-view, .fc-view>table { 
  background: #fff;
}
.btn-dialog-position{
position: absolute;
top: 6px;
z-index: 99;
right: 15px;
border: 0px solid;
height: 35px;
width: 14%;
background-color: #2b62ca;
color: white;
}
.events-btn-position{
  position: absolute;
  top: 15px;
  z-index: 99;
  left: 15px;
}
 
.mat-tab-label .mat-tab-label-content{
  border: 0px solid;
  padding: 12px;
  height: 32px;
  box-shadow: 0px 0px 1px 1px;
  background-color: #f7faff;
  color: #2B62CA;
}
.fc-right{
  display: none; 
}
.fc-day-grid-event .fc-content{
  background: #000;
  border: 1px solid #000;
}
.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  height: 440px;
  max-height: 500px !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mat-step-icon-state-number.mat-step-icon.mat-step-icon-selected{
  background-color: white;
  color: #1873d4;
  border: 2px solid #1873d4; 
}
.mat-step-header .mat-step-icon {
  background-color: #fff;
  color: rgba(0,0,0,.54);
  border: 2px solid rgba(0,0,0,.54);
  margin-right: auto !important;
  margin: auto;
  margin-top: 29px;
}
.mat-form-field{
  width: 100%;
}
/* .mat-step-icon .mat-icon{
  display: none;
} */

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  font-weight: normal;
}
.mat-radio-button {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin-right: 15px; 
}
.text-right mat-button:first-child{
  margin-right: 10px
}
.second-wrap.mat-card .mat-radio-label-content{
  font-weight: normal;
}
.mat-radio-label-content{
  padding-left: 5px !important;
  padding-right: 8px !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1873d4;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
  background-color: #1873d4;
} 
.mat-input-flex.mat-form-field-flex{
  border: 1px solid #cecece;
}
.mat-input-underline.mat-form-field-underline {
  background: green;
}
.mat-radio-outer-circle{
  border-width:1px !important;
  height: 18px !important;
  width:18px !important;
}
.mat-radio-inner-circle { 
  height: 18px !important; 
  top: 0px !important; 
  width: 18px !important; 
}
 .mat-checkbox-frame { 
  border-color: lightgrey;
  border-width: 1px !important;
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: blue;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1873d4;
}
.mat-step-label{
  position: absolute;
  bottom: 25px;
  margin: auto;
  left: 0px;
  right: 0px;
}
.mat-icon.material-icons.ng-star-inserted::before {
  content: 'check';
  color: #fff;
  position: relative;
  left: 15px;
  font-weight: bold;
}
.mat-icon.material-icons.ng-star-inserted {
  color: green;
  position: relative;  
    left: -7px;
    top: 10px;
}
.mat-step-icon .mat-icon {
  font-size: 17px;
  height: 17px;
  width: 17px;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
  border-color: green;
}
.mat-step-icon{
  height: 43px !important;
  width:43px !important;
}
.mat-stepper-horizontal-line{
  height: 30px !important;
  margin: 0 -90px !important;
}
.mat-step-label-selected{
  color: #1873d4 !important;
  font-weight: 600;
}
.mat-form-field-label-wrapper{
  font-size: 15px;
}
.mat-form-field-label{
  padding-left: 9px;
}
.mat-form-field.mat-focused .mat-form-field-label{
  color: rgba(0,0,0,.87);
}
.mat-form-field-appearance-legacy .mat-form-field-label{
  color: rgba(0,0,0,.87);
}
.mat-input-element{
  padding-left: 10px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 0px !important;
}
.mat-form-field-infix{
width: 100%;
height: 34px;
padding: 5px 11px;
font-size: 14px;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mat-icon.material-icons.ng-star-inserted::before { 
  color: green !important; 
}
.mat-column-TH {
  max-width: 10px;
  min-width: 10px;
}
.mat-column-S {
  max-width: 10px;
  min-width: 10px;
}
.mat-column-M {
  max-width: 10px;
  min-width: 10px;
}
.mat-column-T {
  max-width: 10px;
  min-width: 10px;
}
.mat-column-W {
  max-width: 10px;
  min-width: 10px;
}
.mat-column-TH {
  max-width: 10px;
  min-width: 10px;
}
.mat-column-F {
  max-width: 10px;
  min-width: 10px;
}
.mat-column-SA {
  max-width: 10px;
  min-width: 10px;
}
tr.mat-header-row {
  height: 47px !important;
}
.mat-checkbox-layout{
  margin-bottom: 15px;
  font-size: 16px;
}
.right-form-wrap .mat-radio-label,
.second-wrap.venue-wrapper .rw-pt-mar .mat-radio-label{
  margin-bottom: 10px;
} 

/* .mat-step-icon .mat-icon, .mat-step-icon-content{
  font-size: 23px !important;
} */
@media only screen and (max-width: 800px) {
  .mat-horizontal-stepper-header-container{
      white-space: nowrap; 
      align-items: center; 
      display: inline-flex !important;
      width: 100%;
  }
  .mat-horizontal-stepper-header{
    padding: 0px !important;
  }
  .mat-step-icon {
    height: 20px !important;
    width: 20px !important;
  }
  .mat-step-label { 
    font-size: 12px;
  }
  mat-horizontal-stepper{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}